Repository mohe2015/green-lisp, changes with the labels that .github/labeler.yml gives for each.
All labels: code/source, code/workflows, code/github, code/gitignore, code/license, code/readme, code/binary, code/dockerfile

.github/labeler.yml:

code/source:
- source/**/*.green

code/workflows:
- .github/workflows/*.yml

code/github:
- .github/**/*

code/gitignore:
- .gitignore

code/license:
- LICENSE

code/readme:
- README.md

code/binary:
- binary.bin

code/dockerfile:
- Dockerfile

Update gitignore
  .gitignore
Labels: code/gitignore

Try implementing sleep
  .gitignore
  .gitmodules
  source/computer-architecture/avr.green
  source/main.green
Labels: code/source, code/gitignore

Changing LEDS
  source/main.green
Labels: code/source

Higher blink speed
  source/main.green
Labels: code/source

Update Dockerfile
  Dockerfile
Labels: code/dockerfile

Update LICENSE
  LICENSE
Labels: code/license

Relicense under AGPL
  Dockerfile
  source/bits.green
  source/computer-architecture/avr.green
  source/logger.green
  source/main.green
Labels: code/source, code/dockerfile

TMP
  source/computer-architecture/avr.green
  source/main.green
Labels: code/source

Initial test of labels
  source/computer-architecture/avr.green
  source/main.green
Labels: code/source

Clean up
  source/main.green
Labels: code/source

Some small fixes
  source/computer-architecture/avr.green
  source/main.green
Labels: code/source

Nonworking relativ branches
  source/main.green
Labels: code/source

Fix it
  source/computer-architecture/avr.green
  source/main.green
Labels: code/source

Delete dockerimage.yml
  .github/workflows/dockerimage.yml
Labels: code/workflows, code/github

Set theme jekyll-theme-cayman
  _config.yml
Labels: none

Implement more instructions
  source/computer-architecture/avr.green
Labels: code/source

More instructions
  source/computer-architecture/avr.green
Labels: code/source

Implement more instructions
  source/computer-architecture/avr.green
Labels: code/source

Implement more instructions
  source/computer-architecture/avr.green
Labels: code/source

jo
  source/computer-architecture/avr.green
Labels: code/source

More instructions
  source/computer-architecture/avr.green
Labels: code/source

Some more instructions
  init.el
  source/computer-architecture/avr.fasl
  source/computer-architecture/avr.green
Labels: code/source

Ignore *.fasl
  .gitignore
  source/computer-architecture/avr.fasl
Labels: code/gitignore

Update
  init.el
  source/computer-architecture/avr.green
Labels: code/source

More instructions
  source/computer-architecture/avr.green
Labels: code/source

More instructions
  source/computer-architecture/avr.green
Labels: code/source

More instructoins
  source/computer-architecture/avr.green
Labels: code/source

Update
  .gitignore
  source/computer-architecture/avr.green
Labels: code/source, code/gitignore

More instructions
  source/computer-architecture/avr.green
Labels: code/source

More instructions
  source/computer-architecture/avr.green
Labels: code/source

More instructions
  source/computer-architecture/avr.green
Labels: code/source

More instructions
  source/computer-architecture/avr.green
Labels: code/source

Add instructions
  source/computer-architecture/avr.green
Labels: code/source

Finally all instructoins
  source/computer-architecture/avr.green
Labels: code/source

Update url
  .gitmodules
Labels: none

Add a simple serial reader
  .gitignore
  main.c
Labels: code/gitignore

Formatting
  source/computer-architecture/avr.green
Labels: code/source

New serial work
  source/computer-architecture/avr.green
  source/main.green
Labels: code/source

Define some more registers
  source/computer-architecture/avr.green
  source/main.green
Labels: code/source

Some fixes
  source/computer-architecture/avr.green
  source/main.green
Labels: code/source
