Repository mohe2015/green-lisp, changes with the labels that .github/labeler.yml gives for each.
All labels: code/source, code/workflows, code/github, code/gitignore, code/license, code/readme, code/binary, code/dockerfile

Update README.md
  README.md
Labels: code/readme

Update README.md
  README.md
Labels: code/readme

Update README.md
  README.md
Labels: code/readme

Update README.md
  README.md
Labels: code/readme

Implement initial bit-reader
  source/bits.green
  source/computer-architecture/avr.green
Labels: code/source

Start implementing parser
  .gitignore
  binary.bin
  source/computer-architecture/avr.green
Labels: code/source, code/gitignore, code/binary

Start parsing
  source/computer-architecture/avr.green
Labels: code/source

Use packages
  source/bits.green
  source/computer-architecture/avr.green
  source/logger.green
Labels: code/source

Some fixes
  source/computer-architecture/avr.green
  source/logger.green
Labels: code/source

Fix it
  source/computer-architecture/avr.green
Labels: code/source

Bugfixes
  source/computer-architecture/avr.green
Labels: code/source

Temporary hack
  source/bits.green
Labels: code/source

Initial working versoin
  source/computer-architecture/avr.green
Labels: code/source

Idea of implementing instruction generation
  source/bits.green
  source/computer-architecture/avr.green
Labels: code/source

Possibly correct implementation
  source/computer-architecture/avr.green
Labels: code/source

Initial correct implementation
  README.md
  source/bits.green
  source/computer-architecture/avr.green
Labels: code/source, code/readme

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: code/github

Create FUNDING.yml
  .github/FUNDING.yml
Labels: code/github

Update FUNDING.yml
  .github/FUNDING.yml
Labels: code/github

bits->byte-list
  source/bits.green
Labels: code/source

Some fixes
  source/bits.green
Labels: code/source

Some fixes
  source/bits.green
  source/computer-architecture/avr.green
Labels: code/source

Initial main implementation
  README.md
  source/bits.green
  source/main.green
  test.bin
Labels: code/source, code/readme

Small fixes
  source/bits.green
  source/computer-architecture/avr.green
  source/logger.green
  source/main.green
Labels: code/source

Small fixes
  source/computer-architecture/avr.green
Labels: code/source

Initial implementation of generic instruction reading
  source/bits.green
  source/computer-architecture/avr.green
  source/main.green
Labels: code/source

Small fixes
  source/computer-architecture/avr.green
  source/main.green
Labels: code/source

Some instruction fixing
  source/computer-architecture/avr.green
  source/main.green
  test.bin
Labels: code/source

jo
  source/computer-architecture/avr.green
Labels: code/source

Start creating a useful program
  source/computer-architecture/avr.green
  source/main.green
  test.bin
Labels: code/source

Try to flash it
  README.md
  source/computer-architecture/avr.green
  source/main.green
  test.bin
  test.elf
  test.ihex
Labels: code/source, code/readme

Small fix
  README.md
Labels: code/readme

Delete custom.md
  .github/ISSUE_TEMPLATE/custom.md
Labels: code/github

Some fixes
  source/computer-architecture/avr.green
  source/test.bin
  test.elf
Labels: code/source

Update FUNDING.yml
  .github/FUNDING.yml
Labels: code/github

Bugfix
  source/#main.lisp#
  source/.#main.lisp
  source/computer-architecture/avr.green
  source/main.green
  source/test.bin
  test.bin
  test.ihex
Labels: code/source

Small additions
  source/main.green
  test.bin
  test.ihex
Labels: code/source

Important cleanup
  source/#main.lisp#
  source/.#main.lisp
  source/computer-architecture/avr.green
  source/main.green
  source/test.bin
  source/test.ihex
Labels: code/source

Clean up
  .gitignore
  binary.bin
  source/test.bin
  source/test.ihex
  test.bin
  test.ihex
Labels: code/gitignore, code/binary

Another fix
  source/computer-architecture/avr.green
Labels: code/source

.github/labeler.yml:

code/source:
- source/**/*.green

code/workflows:
- .github/workflows/*.yml

code/github:
- .github/**/*

code/gitignore:
- .gitignore

code/license:
- LICENSE

code/readme:
- README.md

code/binary:
- binary.bin

code/dockerfile:
- Dockerfile
