Repository mohe2015/green-lisp, changes with the labels that .github/labeler.yml gives for each.
All labels: code/source, code/workflows, code/github, code/gitignore, code/license, code/readme, code/binary, code/dockerfile

Small fixes
  source/main.green
Labels: code/source

Serial WORKS!!!
  serial.sh
  source/main.green
Labels: code/source

Idea
  source/computer-architecture/avr.green
Labels: code/source

Some fixes
  source/computer-architecture/avr.green
Labels: code/source

Fix formatting
  source/computer-architecture/avr.green
  source/main.green
Labels: code/source

Cleaning up packaging
  .gitignore
  README.md
  green-lisp.asd
  src/bits.green
  src/computer-architecture/avr.green
  src/logger.green
  src/main.green
  src/main.lisp
  test.bin
  test.ihex
  tests/main.lisp
Labels: code/gitignore, code/readme

Fix asdf
  README.md
  green-lisp.asd
  src/bits.lisp
  src/computer-architecture/avr.lisp
  src/logger.lisp
  src/main.green
  src/main.lisp
Labels: code/readme

Clean up
  green-lisp.asd
  src/computer-architecture/avr/architecture.fas
  src/computer-architecture/avr/architecture.lib
  src/computer-architecture/avr/architecture.lisp
  src/computer-architecture/avr/instructions.lisp
  src/main.lisp
Labels: none

Start implementing types
  src/computer-architecture/avr/architecture.fas
  src/computer-architecture/avr/architecture.lib
  src/computer-architecture/avr/architecture.lisp
  src/computer-architecture/avr/instructions.lisp
Labels: none

Some more fixes
  src/computer-architecture/avr/architecture.lisp
  src/main.lisp
Labels: none

Partial fixes
  src/computer-architecture/avr/architecture.lisp
  src/computer-architecture/avr/instructions.lisp
  src/main.lisp
Labels: none

Better idea
  src/computer-architecture/avr/architecture.lisp
  src/main.lisp
Labels: none

Some fixes
  src/computer-architecture/avr/architecture.lisp
  src/computer-architecture/avr/instructions.lisp
Labels: none

Small fix
  src/main.lisp
Labels: none

Some fixes
  src/computer-architecture/avr/architecture.lisp
  src/computer-architecture/avr/instructions.lisp
Labels: none

Further fixes
  src/computer-architecture/avr/architecture.lisp
  src/computer-architecture/avr/instructions.lisp
  src/test.bin
Labels: none

NEW idea
  src/computer-architecture/avr/architecture.lisp
  src/computer-architecture/avr/instructions.lisp
  test.bin
Labels: none

Clean up
  green-lisp.asd
  src/compiler.lisp
  src/computer-architecture/avr/architecture.lisp
  src/computer-architecture/avr/instructions.lisp
  src/main.lisp
Labels: none

Delete greetings.yml
  .github/workflows/greetings.yml
Labels: code/workflows, code/github

Delete stale.yml
  .github/workflows/stale.yml
Labels: code/workflows, code/github

Delete label.yml
  .github/workflows/label.yml
Labels: code/workflows, code/github

.github/labeler.yml:

code/source:
- source/**/*.green

code/workflows:
- .github/workflows/*.yml

code/github:
- .github/**/*

code/gitignore:
- .gitignore

code/license:
- LICENSE

code/readme:
- README.md

code/binary:
- binary.bin

code/dockerfile:
- Dockerfile
